@use '../1-abstracts' as abst

.card__title
    color: abst.$color-gray-light
    font-family: abst.$font-primary
    font-size: abst.$font-lg
    font-weight: 400
    text-transform: uppercase
    margin-bottom: abst.$space-sm



