/* * CSS Reset & Universal Styles */
html {
  background-color: #f2f2f2;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* * Removing default focus outline in browsers to add my own focus styles */
a:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.card__title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 3rem;
  transform: scaleY(0.8);
  font-weight: 400;
  text-transform: uppercase;
  color: #f2f2f2;
  margin-bottom: 1.2rem;
}

.card__description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2.5rem;
}

/* * Button Typography Styles */
.btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.btn--1 {
  color: #e38826;
}

.btn--2 {
  color: #006970;
}

.btn--3 {
  color: #004241;
}

/* * Body Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* * Grid layout for Cards */
.grid {
  min-height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block: 3.24rem;
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
  }
}

/* * Footer Styles */
footer {
  font-size: 0.73rem;
  text-align: center;
  position: relative;
  margin: auto 0 0.3rem;
}
footer p {
  color: black;
}

/* * Footer Link Hover and Focus Styles */
.footer__link {
  color: #004241;
  position: relative;
}
.footer__link:hover, .footer__link:focus {
  color: #006970;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #006970;
}

/* Card Styles */
.card {
  width: min(330px, 86vw);
  display: flex;
  align-items: stretch;
}
.card--1 {
  background-color: #e38826;
}
.card--border-radius-1 {
  border-radius: 10px 10px 0 0;
}
.card--2 {
  background-color: #006970;
}
.card--3 {
  background-color: #004241;
}
.card--border-radius-2 {
  border-radius: 0px 0px 10px 10px;
}
@media screen and (min-width: 1200px) {
  .card--border-radius-1 {
    border-radius: 10px 0 0 10px;
  }
  .card--border-radius-2 {
    border-radius: 0 10px 10px 0;
  }
}

.card__content {
  padding: 3.24rem 3.24rem 3.84rem;
}

.card__thumbnail {
  margin-bottom: 1.65rem;
}

@media screen and (min-width: 1200px) {
  .card__description {
    margin-bottom: 6.3rem;
  }
}

/* * Card Button Layout Styles */
.btn {
  background-color: #f2f2f2;
  padding: 1rem 2rem 1rem;
  border-radius: 70px;
  text-decoration: none;
  transition-duration: 0.3s;
}
.btn:hover {
  outline: solid 3px #f2f2f2;
  outline-offset: -1px;
  color: #f2f2f2;
}
.btn:focus {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5), 0 0 0 10px #f2f2f2;
}

.btn--1:hover {
  background-color: #e38826;
}

.btn--2:hover {
  background-color: #006970;
}

.btn--3:hover {
  background-color: #004241;
}/*# sourceMappingURL=main.css.map */