@use '../1-abstracts' as abst

/* Card Styles */
.card
    width: Min(330px, 86vw)
    display: flex
    align-items: stretch
    
    &--1 /* * First card in Grid */
        background-color: abst.$color-orange 
    
    &--top-border-radius
        border-radius: 10px 10px 0 0
    
    &--2 /* * Second card in Grid */
        background-color: abst.$color-cyan

    &--3 /* * Third card in Grid */
        background-color: abst.$color-green
    
    &--bot-border-radius
        border-radius: 0px 0px 10px 10px

.card__content
    padding: abst.$space-lg abst.$space-lg (abst.$space-lg + 0.6rem)

.card__thumbnail
    margin-bottom: abst.$space-sm + 0.45rem // Adding small height difference according to mockup 

